
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
@RenderSection("head", required: false)
}

<p>&nbsp;</p>

<div class="row">
    <div class="col-md-3" role="complementary">
        <ul>
            <li>@Html.ActionLink("Basic Grid","index")</li>
            <li>@Html.ActionLink("Sorting", "sorting")</li>
            <li>@Html.ActionLink("Paging", "paging")</li>
            <li>@Html.ActionLink("Using with Dependency Injection", "dependencyinjection")</li>
            <li>@Html.ActionLink("Custom Data Formatting", "formatting")</li>
            <li>@Html.ActionLink("Value Templates", "valuetemplate")</li>
            <li>@Html.ActionLink("Custom Row/Cell Styling", "styling")</li>
            <li>@Html.ActionLink("Preloading Data", "preloading")</li>
            <li>@Html.ActionLink("Custom Client-side Loading Message", "loadingmessage")</li>
            <li>@Html.ActionLink("Filtering", "filtering")</li>
            <li>@Html.ActionLink("Client-Side API", "clientsideapi")</li>
            <li>@Html.ActionLink("Export to CSV", "export")</li>
            <li>@Html.ActionLink("Multiple Grids on Same Page", "multiple")</li>
            <li>@Html.ActionLink("Custom Style", "CustomStyleMenu")</li>
            

        </ul>
    </div>
    <div class="col-md-9" role="main">
        @RenderBody()
    </div>
</div>
@section Scripts{
@RenderSection("scripts", required: false)
}