
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>&nbsp;</p>

<div class="row">
    <div class="col-md-3" role="complementary">
        <ul>
            <li>@Html.ActionLink("Basic Grid","index")</li>
            <li>@Html.ActionLink("Sorting", "sorting")</li>
            <li>@Html.ActionLink("Paging", "paging")</li>
            <li>@Html.ActionLink("Using with Dependency Injection", "DependencyInjection")</li>
            <li>@Html.ActionLink("Custom Data Formatting", "Formatting")</li>
            <li>@Html.ActionLink("Custom Row/Cell Styling", "Styling")</li>
            <li>@Html.ActionLink("Preloading Data", "Preloading")</li>
            <li>@Html.ActionLink("Custom Client-side Loading Message", "LoadingMessage")</li>
            <li>@Html.ActionLink("Filtering", "Filtering")</li>


        </ul>
    </div>
    <div class="col-md-9" role="main">
        @RenderBody()
    </div>
</div>
@section Scripts{
@RenderSection("scripts", required: false)
}